<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortli</title>

    <link rel="stylesheet" href="/styles/head.css">
    <link rel="stylesheet" href="/styles/body.css">
  </head>
  
  <body>
    <div class="body-elements">
      <div class="title-text">
        Generate a short URL!
      </div>
      <!-- Form for the input -->
      <form method="POST">
          <input type="url" name="url" placeholder="https://example.com" required>
          <button type="submit">Kurzen Link erstellen</button>
      </form>
      <form method="GET">
          <input type="text" name="shortUrl" placeholder="shortlink einfügen" required>
          <button type="submit">Originalen Link anzeigen</button>
      </form>

      {{if .Error}}
      <p>Fehlermeldung: {{.Error}}</p>

      {{else}}
      <p><a href= '{{.OriginalURL}}' >{{.OriginalURL}}</a></p>
      <p><a href= '{{.OriginalURL}}' >{{.ShortURL}}</a></p>
      {{end}}
    </div>
  </body>
</html>